:root {
     --secondary-color: #FFFFFF;
    }

body {
    background-color: #E5E5E5;
    font-family: 'Nunito', sans-serif;
    color:#272142;
}

.heading {
    text-align: center;
    padding: 60px 0;
    font-weight: 700;
}

.heading h1 {
    font-size: 72px;
    margin-top: -250px;
    color: var(--secondary-color);
}
.heading p {
    font-size: 24px;
    color: var(--secondary-color);
}
.heading img {
    display: block;
    margin: 0% 0% 2% 0%;
    margin-top: 135px;
    width:100%;
    height: auto;
}

h2 {
    font-weight: 700;
    font-size:28px;
}

.container {
    margin-top: 135px;
    margin-bottom: 135px;
}
.col-md-6 {
    margin-bottom: 46px;
  }

  /* .footer p {
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: var(--secondary-color);
margin-top: -50px;
text-align: right;
  } */

  .footer {
    position: relative;

}
.logo {
  position: absolute;
  bottom: -615px;
  left: 160px;
}

.copyright {
    color: var(--secondary-color);
    margin-top: -35px;
text-align: right;
}