:root {
     --secondary-color: #FFFFFF;
    }

body {
    background-color: #E5E5E5;
    font-family: 'Nunito', sans-serif;
    color:#272142;
}

.heading {
    text-align: center;
    padding: 60px 0;
    font-weight: 700;
}

.heading h1 {
    font-size: 72px;
    margin-top: -250px;
    color: var(--secondary-color);
}
.heading p {
    font-size: 24px;
    color: var(--secondary-color);
}
.heading img {
    display: block;
    margin: 0% 0% 2% 0%;
    margin-top: 135px;
    width:100%;
}

h2 {
    font-weight: 700;
    font-size:28px;
}

.container {
    margin-top: 135px;
    margin-bottom: 135px;
}
.col-md-6 {
    margin-bottom: 46px;
  }
